[{ecoin, [
          {network, main},
          {port, 8333},
          {peers, []},
          {dns, [
                 "seed.bitcoin.sipa.be",
                 "dnsseed.bluematt.me",
                 "dnsseed.bitcoin.dashjr.org",
                 "seed.bitcoinstats.com",
                 "seed.bitnodes.io",
                 "bitseed.xf2.org"
                ]},
          {protocol_version, 70002},
          {user_agent, <<"berl">>},
          {relay, true},
          {services, [node_network]},
          {outgoing_limit, 10},
          {connection_timeout, 10000}
    ]}].
