% vim: set filetype=erlang :
[
    {ecoin, [
         {network, testnet3},
         {port, 18333},
         {peers, []},
         {dns, [
              "testnet-seed.alexykot.me",
              "testnet-seed.bitcoin.petertodd.org",
              "testnet-seed.bluematt.me"
         ]},
         {relay, true},
         {services, [node_network]},
         {outgoing_limit, 10},
         {connection_timeout, 10000}
    ]}

%    {exometer, [
         %{defaults, [
             %{['_'], counter, [{module, exometer}]},
             %{['_'], gauge,   [{module, exometer}]}
         %]},
         %{predefined, [
            %{[messages, out, amount], counter, []},
            %{[messages, out, size], 
            %{[messages, in]}
         %]},
         %{report, [
              %{reporters, []},
              %{subscribers, []}
         %]}
    %]}
].
